{{!--

On every 3rd post, add a special .post-card-large class and load a large image
For the rest, just output a smaller background image

--}}

{{!-- {{#has number="nth:3"}} --}}
<article class="post-card post-result {{post_class}} post-card-large {{#if feature_image}}with-image">

     {{!-- {{else}}
    <article class="post-card {{post_class}} {{#if feature_image}}with-image"
             style="background-image: url({{img_url feature_image size="l"}}){{else}}no-image{{/if}}"> --}}
     {{!-- {{/has}} --}}
     <a class="post-card-link"
        style="opacity: 1; z-index: 1;"
        href="{{url}}">
          <div class="post-card-content"
               style="opacity: 1;">
               <h2 class="post-card-title">{{title}}</h2>
               <p class="post-card-updated_at">{{date published_at format="MMMM DD, YYYY"}} · {{reading_time}} </p>
          </div>
     </a>

     <div style="background-image: url({{img_url feature_image size="xl"}}){{else}}no-image{{/if}}"
          class="post-result-overlay"></div>

     <div style="background-image: url({{img_url feature_image size="xl"}}) "
          class="post-result-shadow"></div>
</article>