{{!--

On every 3rd post, add a special .post-card-large class and load a large image
For the rest, just output a smaller background image

--}}

{{#has number="nth:3"}}
<article class="post-card {{post_class}} post-card-large {{#if feature_image}}with-image">

    <div style="background-image: url({{img_url feature_image size="xl"}}){{else}}no-image{{/if}}"
         class="post-result-overlay"></div>


    {{else}}
    <article class="post-card {{post_class}} {{#if feature_image}}with-image">
        <div style="background-image: url({{img_url feature_image size="l"}}){{else}}no-image{{/if}}"
             class="post-result-overlay"></div>

        {{/has}}

        {{#if featured}}
        <a class="post-card-link"
           style="opacity: 1;"
           href="/tag{{ url}}">
            <div class="post-card-content"
                 style="opacity: 1;">
                <h2 class="post-card-title">{{title}}</h2>
            </div>
        </a>
        {{^}}
        <a class="post-card-link"
           style="opacity: 1;"
           href="{{url}}">
            <div class="post-card-content"
                 style="opacity: 1;">
                <h2 class="post-card-title">{{title}}</h2>
            </div>
        </a>
        {{/if}}



    </article>
</article>