{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#tag}}
<header class="page-head"
        style="padding:20vh 0 10vh 0">
    </default>
    <h1 class="page-head-title">{{name}}</h1>
    <p class="page-head-description-tutorials">
        {{#if description}}
        {{description}}
        {{else}}
        A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
        {{/if}}
    </p>
</header>


<div class="post-feed post-result-feed">

    {{#get "posts"  filter="primary_tag:tutorials" order="published_at asc"}}
    {{#foreach posts}}

    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
    {{> "post-result"}}

    {{/foreach}}

    {{/get}}
</div>
{{/tag}}


{{#contentFor "scripts"}}


<script type="text/javascript"
        src="{{asset "built/jquery.min.js"}}"></script>

<script type="text/javascript"
        src="{{asset "built/jquery-ui.min.js"}}"></script>

<script type="text/javascript"
        src="{{asset "built/jquery.tocify.min.js"}}"></script>

<script>
    var a = document.getElementById('toc')
    if (a != undefined) {
        document.body.removeChild(a)
    }
    tocify(window.jQuery, window, document);
    var temp = document.createElement('div');
    temp.id = "toc"
    document.body.appendChild(temp)

    $("#toc").tocify({
        selectors: "h2,h3,h4,h5", // 选择要筛选的标题
        extendPage: false, // 页面不够长时拉长页面，这里选择关闭因为感觉留出大片空白不好看- -
        highlightDefault: false, // 自动高亮第一条
        theme: 'jqueryui'
    });

</script>
{{/contentFor}}